{% trans %}
  <p>The Drupalgotchi module turns your web site into a space alien that wants
    your attention.</p>
  <p>The Drupalgotchi module includes:</p>
  <ul>
    <li>Administrative settings (see Configuration -> Drupalgotchi Settings)</li>
    <li>A controller which creates a page displaying your Drupalgotchi settings</li>
    <li>A Drupalgotchi block (plugin) which shows the current status of your Drupalgotchi</li>
    <li>A Hello Block which reveals how to create a "hello world" example</li>
    <li>An eventlistener which updates the state of your Drupalgotchi module</li>
    <ul>
      <li>when the Admin user visits the site, your Drupalgotchi will become happier</li>
      <li>when other users visit the site, your Drupalgotchi becomes needy and seeks the admin&apos;s attention</li>
    </ul>
  </ul>
  <p>The drupalgotchi module is enabled and it is currently named:</p>
  {{ name }}
{% endtrans %}
